.login-button {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 50px;
    cursor: pointer;
}

.login-button .svg-inline--fa {
    margin-right: 8px;
}

.nav-logo {
    display: flex;
    justify-content: center;
    margin: 20px;
}

.nav-logo.img :hover {
    cursor: pointer;
}

.menu-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

@media (max-width: 991px) {
    .menu-list {
        display: none;
    }
}

.menu-list li {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
}

.nav-space {
    text-align: center;
    flex: 1;
    position: relative;
}

.menu-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
}

.search-area {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.product-card {
    width: 100px;
    margin-bottom: 50px;
    border: none;
}

.card {
    transition: transform 0.2s ease-in-out;
    cursor: pointer;
    border: none;
}

.card:hover {
    transform: scale(1.05);
}

.search-input {
    border: none;
    border-bottom: 1px solid #000;
    outline: none;
    padding: 5px 0;
}

.search-input:focus {
    border-bottom: 2px solid #555;
}

.search-icon {
    margin-right: 10px;
}

.product-img {
    display: flex;
    justify-content: flex-end;
    max-width: 100%;
    height: auto;
}

@media (max-width: 768px) {

    .product-detail,
    .product-info {
        text-align: center;
    }
}

.product-detail {
    margin: 50px;
}

.product-info {
    margin: 50px;
    display: flex;
}

.product-choice {
    color: skyblue;
}

.product-new {
    color: orangered;
}

.product-title {
    font-size: larger;
}

.product-price {}

.product-size {
    width: 500px;
    margin-bottom: 50px;
}

.card .product-image {
    max-width: 100%;
    height: auto;
}

.hamberger {
    display: none;
}

.hamberger:hover {
    cursor: pointer;
}

@media (max-width: 991px) {
    .hamberger {
        display: block;
        margin-left: 50px;
    }
}

.hamberger-menu-list {
    cursor: pointer;
}
.hamberger-menu-list li {
    padding: 10px;
    margin-left: 10px;
    align-items: center;
    list-style-type: none;
}

@media (min-width: 992px) {
    .hamberger-menu-list {
        display: none;
    }
}