.login-button {
    display: flex;
    justify-content: flex-end;
    margin: 20px;
}

.nav-logo {
    display: flex;
    justify-content: center;
}

.menu-list {
    display: flex;
    list-style-type: none;
}

.menu-list li {
    padding: 10px;
}

.menu-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}

.search-area {
    display: flex;
    justify-content: flex-end;
    height: 35px;
}

.product-card {
    width: 100px;
}

.space{
    width:180px;
}
